# Aplicación
NODE_ENV=development

# Backend
BACKEND_PORT=3000

# Frontend
FRONTEND_PORT=5173

# PostgreSQL
POSTGRES_DB=gerenciamiento_viajes
POSTGRES_USER=viajes_user
POSTGRES_PASSWORD=CAMBIAR_PASSWORD
POSTGRES_PORT=5433

# Conexión del backend
DATABASE_URL=postgresql://viajes_user:CAMBIAR_PASSWORD@postgres:5432/gerenciamiento_viajes

# ngrok
NGROK_AUTHTOKEN=COLOCAR_TOKEN
NGROK_DOMAIN=COLOCAR_DOMINIO_NGROK

# Telegram
TELEGRAM_BOT_TOKEN=COLOCAR_TOKEN
TELEGRAM_WEB_APP_URL=https://dominio.ngrok-free.app
